h1{
    color: #B0413E;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#name{
    display: flex;
    justify-content: end;


}
button {
    transition-duration: 0.4s;
    background-color: #4D768B;
    border-radius: 5px;
    border:none;
    margin: 5px;
}

button:hover {
    background-color: indianred; /* Green */
    color: indianred;
}
a{
    color: white;
    text-decoration: none;
}

.quack-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quack-box {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;



}

.comments-section {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.comment {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #e9e9e9;
    border-radius: 5px;
}


